body {
    font-family: Arial, sans-serif;
    padding:0%;
    margin: 0%;
    margin-top: 0%;
    background-color: #f5f5dc;
}

.header h1 {
    font-family: 'Zeyada';
    color: #FE0000;
    font-size: x-large;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1001;
}

.header h2 {
    font-family: 'Poppins';
    color: #FE0000;
    font-size: xx-large;
    text-align: left;
    font-weight: 400;
    position: relative;
    z-index: 1001;
    margin: 5vh 0 0 5vh;
}

.content-container {
    display: flex;
    width: 100%;
    margin: 0 5vh;
    align-items: flex-start;
    gap: 232px;
}
.content-text {
    display: flex;
    width: 41%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FE0000;
    font-family: Poppins;
    font-size: large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}
.image-container {
    width: 32%;
    height: 671px;
    flex-shrink: 0;
}
.hamburger {
    position: fixed;
    top: 3.5vh;
    right: 2vh;
    color: #4A6732;
    font-size: 35px;
    cursor: pointer;
    text-align: right;
    z-index: 1001;
}
.nav {
    display: none;
    position: fixed;
    padding-top: 12vh;
    text-align: right;
    left: 80%;
    width: auto;
    height: 100%;
    z-index: 999;

}
.nav a {
    color: #4A6732;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
    text-align: right;
}
.nav a:hover {
    color: #9db68c; /* Beige */
    transition: color 0.3s;
}
@media screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }
    .nav a {
        display: none;
    }
}